DirectoryIndex index.php
ErrorDocument 404 /oli-BETA-1.9/index.php
ErrorDocument 403 /oli-BETA-1.9/index.php

Order deny,allow
<FilesMatch ".olipath|.olisc|load.php">
	deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /oli-BETA-1.9/
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

Options -Indexes